@font-face{
font-family: 'GamesOfThrones';
src: url('./assets/fonts/Thrones.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'GamesOfThrones';
  text-decoration: none;
  list-style: none;
}
